{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% load django_markdown %}

{% block title %}<title>Создать задачу</title>{% endblock %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'task/css/typeahead_style.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Создание задачи</h1>

        <div class="container" style="margin-bottom: 5px">
            <label class="control-label col-sm-2" for="task_name">Название:</label>
            <div class="col-sm-6">
                <input type="text" maxlength="30" class="form-control" id="task_name"
                       placeholder="Введите название задачи" autocomplete="off"/>
            </div>
            <div style="color: red" class="col-sm-offset-2 col-sm-10" id="task_name_errors" hidden>Заполните поле названия</div>
        </div>

        <div class="container" style="margin-bottom: 5px">
            <label class="control-label col-sm-2" for="tags">Тэги:</label>
            <div class="col-sm-7" id="tags">
                <div class="container col-sm-10">
                    <input type="text" maxlength="30" class="typeahead"
                           placeholder="Введите тэг" autocomplete="off">
                </div>
            </div>
            <a class="col-sm-offset-2 col-sm-10" id="create_tag">Создать тэг</a>
            <div style="color: red" class="col-sm-offset-2 col-sm-10" id="tags_errors" hidden>Заполните поля тэгов</div>
        </div>

        <div class="container" style="margin-bottom: 5px">
            <label class="control-label col-sm-2" for="level">Уровень:</label>
            <div class="col-sm-9">
                <select id="level">
                    <option selected value="1">Low</option>
                    <option value="2">Middle</option>
                    <option value="3">High</option>
                </select>
            </div>
        </div>

        <div class="container" style="margin-bottom: 5px">
            <label class="control-label col-sm-2" for="markdown">Условие:</label>
            <div class="col-sm-9">
                <textarea name="condition" id="markdown"></textarea>
                {% markdown_editor "#markdown" %}
                {% markdown_media %}
            </div>
            <div style="color: red" class="col-sm-offset-2 col-sm-10" id="markdown_errors" hidden>Заполните поле условия</div>
        </div>

        <div class="container" style="margin-bottom: 5px">
            <label class="control-label col-sm-2" for="area">Область:</label>
            <div class="col-sm-9">
                <select id="area">
                    <option selected value="1">Java</option>
                    <option value="2">C#</option>
                    <option value="3">Python</option>
                    <option value="4">Ruby</option>
                </select>
            </div>
        </div>

        <div class="container" style="margin-bottom: 5px">
            <label class="control-label col-sm-2" for="answers">Ответы:</label>
            <div class="col-sm-7" id="answers">
                <div class="container">
                    <input type="text" maxlength="30" class="col-sm-6"
                           placeholder="Введите ответ" autocomplete="off" style="margin-bottom: 5px">
                </div>
            </div>
            <a class="col-sm-offset-2 col-sm-10" id="create_answer">Создать ответ</a>
            <div style="color: red" class="col-sm-offset-2 col-sm-10" id="answers_errors" hidden>Заполните поля ответов</div>
        </div>

        <div class="container" style="margin-bottom: 5px">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="submit" class="btn btn-default" id="create_button">Создать</button>
            </div>
        </div>

        <script src="{% static 'task/js/Settings.js' %}"></script>
    </div>

{% endblock %}