{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% load django_markdown %}

{% block title %}<title>Создать задачу</title>{% endblock %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'task/css/typeahead_style.css' %}">
    <script src="{% static 'task/js/draganddrop.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Создание задачи</h1>

        <div class="row" style="margin: 5px">
            <label class="control-label col-xs-2" for="task_name">Название:</label>
            <div class="col-xs-offset-2 col-xs-10">
                <input type="text" maxlength="30" class="col-xs-6" id="task_name"
                       placeholder="Введите название задачи" autocomplete="off"
                       style="min-width: 200px"/>
            </div>
            <div style="color: red" class="col-xs-offset-2 col-xs-6" id="task_name_errors" hidden>Заполните поле названия</div>
        </div>

        <div class="row" style="margin: 5px">
            <label class="control-label col-xs-2" for="tags">Тэги:</label>
            <div class="container">
                <div class="container col-xs-offset-2 col-xs-10" id="tags">
                    <div class="row">
                        <input type="text" maxlength="30" class="typeahead col-xs-6"
                               placeholder="Введите тэг" autocomplete="off">
                    </div>
                </div>
            </div>
            <a class="col-xs-offset-2 col-xs-6" id="create_tag">Создать тэг</a>
            <div style="color: red" class="col-xs-offset-2 col-xs-6" id="tags_errors" hidden>Заполните поля тэгов</div>
        </div>

        <div class="row" style="margin: 5px">
            <label class="control-label col-xs-2" for="level">Уровень:</label>
            <div class="col-xs-offset-2 col-xs-10">
                <select id="level">
                    <option selected value="1">Low</option>
                    <option value="2">Middle</option>
                    <option value="3">High</option>
                </select>
            </div>
        </div>

        <div class="row" style="margin: 5px">
            <label class="control-label col-xs-2" for="markdown">Условие:</label>
            <div class="col-xs-offset-2 col-xs-10">
                <textarea class="dropZone" name="condition" id="markdown"></textarea>
                {% markdown_editor "#markdown" %}
                {% markdown_media %}
            </div>
            <div style="color: red" class="col-xs-offset-2 col-xs-6" id="markdown_errors" hidden>Заполните поле условия</div>
            <div style="color: red" class="col-xs-offset-2 col-xs-6 dropError" hidden></div>
            <div class="col-xs-offset-2 col-xs-6" id="progress" hidden>
                Загрузка
                <img src="{% static 'task/images/load.gif' %}"/>
            </div>
        </div>

        <div class="row" style="margin: 5px">
            <label class="control-label col-xs-2" for="area">Область:</label>
            <div class="col-xs-offset-2 col-xs-10">
                <select id="area">
                    <option selected value="1">Java</option>
                    <option value="2">C#</option>
                    <option value="3">Python</option>
                    <option value="4">Ruby</option>
                </select>
            </div>
        </div>

        <div class="row" style="margin: 5px">
            <label class="control-label col-xs-2" for="answers">Ответы:</label>
            <div class="container">
                <div class="container col-xs-offset-2 col-xs-10" id="answers">
                    <div class="row">
                        <input type="text" maxlength="30" class="col-xs-6"
                               placeholder="Введите ответ" autocomplete="off" style="margin-bottom: 5px">
                    </div>
                </div>
            </div>
            <a class="col-xs-offset-2 col-xs-6" id="create_answer">Создать ответ</a>
            <div style="color: red" class="col-xs-offset-2 col-xs-6" id="answers_errors" hidden>Заполните поля ответов</div>
        </div>

        <div style="margin: 5px">
            <div class="col-xs-offset-2 col-xs-6">
                <button type="submit" style="margin-bottom: 5px" class="btn btn-default" id="create_button">Создать</button>
            </div>
        </div>

        <script src="{% static 'task/js/Settings.js' %}"></script>
    </div>

{% endblock %}