{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% load django_markdown %}

{% block title %}<title>Изменить задачу</title>{% endblock %}

{% block content %}
    <div class="container">
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
        <h1>Редактирование задачи</h1>
        <form class="form-horizontal" role="form" method="post" action="">
            {% csrf_token %}

            <div class="form-group">
                <label class="control-label col-sm-3" for="username">Название:</label>
                <div class="col-sm-9">
                    {{ form.task_name }}
                </div>
                {% if form.task_name.help_text %}
                    <div class="col-sm-offset-3 col-sm-9 help-block">{{ form.task_name.help_text }}</div>
                {% endif %}
                {% if form.task_name.errors %}
                    <div class="col-sm-offset-3 col-sm-9">{{ form.task_name.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="email">Тэги:</label>
                <div class="col-sm-9">
                    {{ form.tags }}
                </div>
                {% if form.tags.help_text %}
                    <div class="col-sm-offset-3 col-sm-9 help-block">{{ form.tags.help_text }}</div>
                {% endif %}
                {% if form.tags.errors %}
                    <div class="col-sm-offset-3 col-sm-9">{{ form.tags.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="email">Уровень:</label>
                <div class="col-sm-9">
                    {{ form.level }}
                </div>
                {% if form.level.help_text %}
                    <div class="col-sm-offset-3 col-sm-9 help-block">{{ form.level.help_text }}</div>
                {% endif %}
                {% if form.level.errors %}
                    <div class="col-sm-offset-3 col-sm-9">{{ form.level.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="pa">Условие:</label>
                <div class="col-sm-9">
                    {{ form.condition }}
                    {% markdown_editor "#new" %}
                    {% markdown_media %}
                </div>
                {% if form.condition.help_text %}
                    <div class="col-sm-offset-3 col-sm-9 help-block">{{ form.condition.help_text }}</div>
                {% endif %}
                {% if form.condition.errors %}
                    <div class="col-sm-offset-3 col-sm-9">{{ form.condition.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="pwd2">Область:</label>
                <div class="col-sm-9">
                    {{ form.area }}
                </div>
                {% if form.area.help_text %}
                    <div class="col-sm-offset-3 col-sm-9 help-block">{{ form.area.help_text }}</div>
                {% endif %}
                {% if form.area.errors %}
                    <div class="col-sm-offset-3 col-sm-9">{{ form.area.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="pwd2">Ответ:</label>
                <div class="col-sm-9">
                    {{ answer_form.text }}
                </div>
                {% if answer_form.text.help_text %}
                    <div class="col-sm-offset-3 col-sm-9 help-block">{{ answer_form.text.help_text }}</div>
                {% endif %}
                {% if answer_form.text.errors %}
                    <div class="col-sm-offset-3 col-sm-9">{{ answer_form.text.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default">Сохранить изменения</button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}