{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% load django_markdown %}

{% block title %}<title>Решить задачу</title>{% endblock %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'task/css/rating.css' %}">
    <script src="{% static 'task/js/rating.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <label style="font-size: 40px">
                    {{ task.task_name }}
                </label>
                <label>
                    |создал <a href="{% url 'user_account:user' pk=task.user.pk %}">
                        {{ task.user }}
                    </a>
                    <span class="glyphicon glyphicon-time"></span> {{ task.creation_date }}
                </label>
            </div>
            <div id="readOnly" class="bootstrap-tags bootstrap-3"
                 style="padding-bottom: 1px; height: 30px">
                <div class="tags">
                    {% for tag in tags %}
                            <div class="tag label btn-info md">
                                <a href="#"><span>{{ tag.tag_name }}</span></a>
                            </div>
                    {% endfor %}
                </div>
            </div>
            <hr/>
            <div>
                <div class="col-xs-3" align="center">
                    <div>
                        <p>Рейтинг</p>
                        <p><img src="{% static 'task/images/star.png' %}"/>{{ statistics.rating }}</p>
                    </div>

{#                    <span class="glyphicon glyphicon-time"></span>#}
{#                    {{ statistics.rating }}#}
                </div>
                <div class="col-xs-3" align="center">
                    <div>
                        <p>Процент правильных ответов</p>
                        <p>{{ statistics.percentage }}%</p>
                    </div>
                </div>
                <div class="col-xs-3" align="center">
                    <div>
                        <p>Рейтинг</p>
                        <p>{{ statistics.rating }}</p>
                    </div>
                </div>
                <div class="col-xs-3" align="center">
                    <div>
                        <p>Рейтинг</p>
                        <p>{{ statistics.rating }}</p>
                    </div>
                </div>
            </div>


            <br>
            <hr/>

            <div class="container">
                <label class="control-label col-sm-2" for="condition">Условие:</label>
                <div class="col-sm-9">
                    {{ task.condition | markdown }}
                </div>
            </div>

            {% if form %}
                <div class="col-sm-offset-2 col-sm-9 help-block">
                    {% if form.non_field_errors %}
                        {{ form.non_field_errors }}
                    {% endif %}
                </div>
                <form class="form-horizontal" role="form" method="post" action="">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd2">Ответ:</label>
                        <div class="col-sm-9">
                            {{ form.text }}
                        </div>
                        {% if form.text.help_text %}
                            <div class="col-sm-offset-2 col-sm-9 help-block">{{ form.text.help_text }}</div>
                        {% endif %}
                        {% if form.text.errors %}
                            <div class="col-sm-offset-2 col-sm-9">{{ form.text.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-9">
                            <button type="submit" class="btn btn-default">Проверить</button>
                        </div>
                    </div>

                </form>
            {% else %}
                <div class="container">
                    {% if is_old_solving %}
                        <p>Вы уже решили эту задачу</p>
                    {% else %}
                        <p>Поздравляю вы решили задачу!!!</p>
                    {% endif %}

                    {% if user_mark_for_task %}
                        <div id="rating_star">
                            <div id="rating">
                                <div id="rating_blank"></div>
                                <div id="rating_votes"></div>
                            </div>
                            <div id="rating_info">
                                <h5> Вы оценили задачу на {{ user_mark_for_task.mark }}</h5>
                            </div>
                            <script>
                                setRatingWidth("{{ user_mark_for_task.mark }}")
                            </script>
                        </div>
                    {% else %}
                        <div id="rating_star">
                            <div id="rating">
                                <div id="rating_blank"></div>
                                <div id="rating_hover"></div>
                                <div id="rating_votes"></div>
                            </div>
                            <div id="rating_info">
                                <img id="rating_load" src="{% static 'task/images/load.gif' %}" hidden />
                                <h5> Пожалуйста, оцените задачу </h5>
                            </div>
                            <script>
                                setDefaultRatingSettings("{{ user.pk }}", "{{ task.pk }}")
                            </script>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        {% include 'comments/show_comments.html' %}
    </div>
{% endblock %}
