{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block title %}<title>{{ founduser.username }}</title>{% endblock %}

{% block content %}
    <div class="container" style="margin: 50px">


    <label class="col-sm-3" style="display: inline" id="editable">{{ founduser.username }}</label>
    {% if user.pk == founduser.pk %}
        <script>
            $(document).ready(function() {
                $('#editable').editable('/user_account/change_username/', {
                    submit  : 'OK',
                    style   : 'inherit',
                    callback : function(value, settings) {
                        $(document).prop('title', value);
                        return value;
                    }
                })
            });
        </script>
    {% endif %}


    </div>
{% endblock %}