{% load static %}
{% load staticfiles %}
{% load i18n %}

<div class="row">
    <div class="well">
        <h4>{% trans 'Leave comment' %}:</h4>
        <div class="form-group">
            <textarea maxlength="300" id="comment" class="form-control" rows="3"></textarea>
        </div>
        <button id="add_comment" type="submit" class="btn btn-primary">{% trans 'Leave comment' %}</button>
    </div>

    <ul class="media-list" id="comments_list">
        {% for comment in comments %}
            <li class="media">
                <div class="pull-left">
                    <img class="media-object" src="{{ comment.url }}" width="64" height="64">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="{% url 'user_account:user' pk=comment.comment.user.pk %}">{{ comment.comment.user }}</a>
                    </h4>
                    <p>{{ comment.comment.text }}</p>
                </div>
            </li>
        {% empty %}
            <li class="media" id="null_comments">
                <div class="help-block">
                    {% trans 'No comments' %}...
                </div>
            </li>
        {% endfor %}
    </ul>

    <script>
        $('#add_comment').click(function(e){
            var text = $('#comment').val();
            if(text.length == 0){
                return;
            }
            console.log(text);
            var pk = parseInt({{ task.pk }});
            var json = JSON.stringify({
                text: text,
                pk: pk
            });
            $.ajax({
                        url: "/comments/add/",
                        type: 'POST',
                        data: json,
                        success: function (mess) {
                            console.log(mess);
                            $('#comment').val('');
                            $('#null_comments').remove();
                            $('#comments_list').append("<li class=\"media\">"+
                                    "<div class=\"pull-left\">"+
                                        "<img class=\"media-object\" src=\""+ mess['url'] +"\" width=\"64\" height=\"64\">"+
                                    "</div>"+
                                    "<div class=\"media-body\">"+
                                        "<h4 class=\"media-heading\">"+
                                            "<a href=\"/user_account/user/" + mess['pk'] +"/\">"+ mess['username'] +"</a>"+
                                        "</h4>"+
                                        "<p>"+ text +"</p>"+
                                    "</div>"+
                                "</li>");
                        }
                    });
        })
    </script>
</div>