{% load static %}
{% load staticfiles %}

<div class="container col-sm-8">
    <h3 class="center-block">Комментарии</h3>
    <div>
        <div class="container">
            <label for="comment">Ваш комментарий:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
            <button class="pull-right" id="add_comment">Добавить</button>
        </div>
    </div>

    <ul class="media-list" id="comments_list">
        {% for comment in comments %}
           <li class="media">
              <a class="pull-left" href="#">
                 <img class="media-object" src="{% static 'pictures/vk.png' %}" width="64" height="64">
              </a>
              <div class="media-body">
                 <h4 class="media-heading"><a href="{% url 'user_account:user' pk=comment.user.pk %}">{{ comment.user }}</a></h4>
                 <p>{{ comment.text }}</p>
              </div>
           </li>
           <hr>
        {% empty %}
            <li class="media" id="null_comments">
                <div class="help-block">
                    Комментариев ещё не было...
                </div>
            </li>
        {% endfor %}
    </ul>

    <script>
        $('#add_comment').click(function(e){
            var text = $('#comment').val();
            console.log(text);
            var pk = parseInt({{ task.pk }});
            var json = JSON.stringify({
                text: text,
                pk: pk
            });
            $.ajax({
                        url: "/comments/add/",
                        type: 'POST',
                        data: json,
                        success: function (mess) {
                            $('#comment').val('');
                            $('#null_comments').remove();
                            var li = document.createElement("li");
                            var img = document.createElement("img");
                            var a = document.createElement("a");
                            var div = document.createElement("div");
                            var p = document.createElement("p");
                            var h4 = document.createElement("h4");
                            img.src = "/static/pictures/vk.png";
                            img.className = "media-object";
                            img.width = 64;
                            img.height = 64;
                            a.className = "pull-left";
                            a.href = "#";
                            a.appendChild(img);
                            h4.className = "media-heading";
                            h4.textContent = "{{ user.username }}";
                            p.textContent = text;
                            div.className = "media-body";
                            div.appendChild(h4);
                            div.appendChild(p);
                            li.className = "media";
                            li.appendChild(a);
                            li.appendChild(div);
                            $('#comments_list').append(li);
                        }
                    });
        })
    </script>
</div>