{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block title %}<title>Вход</title>{% endblock %}

{% block content %}

    <div class="container">
        {% if user.is_authenticated %}
            Что такое, {{ user.username }}? Вы же уже авторизорваны.
            Впрочем, всегда можно <a href="{% url 'auth_logout' %}">выйти</a>.<br/><br/>
        {% else %}
            {% if form.non_field_errors %}
            {{ form.non_field_errors }}
            {% endif %}
            <h1>Авторизация</h1>
            <form class="form-horizontal" role="form" method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label col-sm-2" for="username">Логин:</label>
                    <div class="col-sm-10">
                        <input type="text" maxlength="30" name="username" class="form-control" id="id_username" placeholder="Enter username">
                    </div>
                    {% if form.username.help_text %}
                        <div class="col-sm-offset-2 col-sm-10 help-block">{{ form.username.help_text }}</div>
                    {% endif %}
                    {% if form.username.errors %}
                        <div class="col-sm-offset-2 col-sm-10">{{ form.username.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="password">Пароль:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" id="pwd" placeholder="Enter password">
                    </div>
                    {% if form.password.help_text %}
                        <div class="col-sm-offset-2 col-sm-10 help-block">{{ form.password.help_text }}</div>
                    {% endif %}
                    {% if form.password.errors %}
                        <div class="col-sm-offset-2 col-sm-10">{{ form.password.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Войти</button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a href="{% url 'social:begin' 'twitter' %}">
                            <img src="{% static 'pictures/twitter.png' %}" height="32" width="32"/>
                        </a>
                        <a href="{% url 'social:begin' 'facebook' %}">
                            <img src="{% static 'pictures/facebook.png' %}" height="32" width="32"/>
                        </a>
                        <a href="{% url 'social:begin' 'github' %}">
                            <img src="{% static 'pictures/github.png' %}" height="32" width="32"/>
                        </a>
                        <a href="{% url 'social:begin' 'vk-oauth2' %}">
                            <img src="{% static 'pictures/vk.png' %}" height="32" width="32"/>
                        </a>
                    </div>
                </div>
            </form>

            <script type="text/javascript">
            document.getElementById('id_username').focus()
            </script>
        {% endif %}
    </div>
{% endblock %}