{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Главная</title>
    {% endblock %}
    {% block bootstrap %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}">
        <script src="{% static 'js/jquery-1.11.3.js' %}"></script>
        <script src="{% static 'js/AjaxConfig.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <script src="{% static 'js/jquery.jeditable.js' %}"></script>
        <script src="{% static 'js/typeahead.bundle.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}
    {% block styling %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'homepage' %}">Tasky</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'homepage' %}">Главная</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Рейтинги<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Рейтинг пользователей</a></li>
                <li><a href="#">Рейтинг задач</a></li>
              </ul>
            </li>
            <li><a href="#">О нас</a></li>
          </ul>
          {% if not user.is_authenticated %}
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'registration_register' %}"><span class="glyphicon glyphicon-user"></span>Регистрация</a></li>
                <li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-log-in"></span>Войти</a></li>
              </ul>
          {% else %}
              <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'task:create' %}">Создать задачу</a></li>
                        <li><a href="{% url 'task:my_tasks' %}">Мои задачи</a></li>
                        <li><a href="#">Настройки</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'auth_logout' %}">Выйти</a></li>
                      </ul>
                  </li>
              </ul>
          {% endif %}
        </div>
      </div>
    </nav>

    {% if user.is_authenticated %}
        <div class="col-xs-2 navbar-default pull-right" style="width: 200px; height: 400px">
            <div>
                <input type="text" maxlength="30" id="search_input"
                       placeholder="Поиск"/>
                <button id="search_button">Поиск</button>
            </div>
            <div>
                <p>asd</p>
                <p>zxc</p>
                <p>123</p>
                <p>1111111</p>
            </div>
            <script>
                $('#search_button').click(function (e) {
                    var str = $('#search_input').val();
                    document.location.href = "/search/?q=" + encodeURIComponent(str);
                })
            </script>
        </div>
    {% endif %}
    <div class="col-xs-10">
        {% block content %}
            <div class="container">
                {% for task in tasks %}
                    {% if task.user == user %}
                        <p><a href="{% url 'task:edit' pk=task.pk %}">{{ task }}</a></p>
                    {% else %}
                        <p><a href="{% url 'task:solve_task' pk=task.pk %}">{{ task }}</a></p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock %}
    </div>

</body>
</html>