{% load static %}
{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>{% trans 'Home' %}</title>
    {% endblock %}
    {% block bootstrap %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}">
        <script src="{% static 'js/jquery-1.11.3.js' %}"></script>
        <script src="{% static 'js/AjaxConfig.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap-tags.js' %}"></script>
        <script src="{% static 'js/jquery.jeditable.js' %}"></script>
        <script src="{% static 'js/typeahead.bundle.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/navbar_styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-tags.css' %}">
    {% endblock %}
    {% block styling %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="top-bar">
            <div class="container">
                <form method="get" action="/search/" class="pull-right search-form" role="search">
                    <div class="form-group">
                        <input type="text" name="q" class="form-control search_input" placeholder="{% trans 'Search for site' %}...">
                    </div>
                    <button type="submit" class="search_button btn btn-theme">{% trans 'Search' %}</button>
                </form>
            </div>
        </div>
        <nav class="navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'homepage' %}">Tasky</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item"><a href="{% url 'homepage' %}">{% trans 'Home' %}</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {% trans 'Ratings' %}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'ratings:user_rating' %}">
                                    {% trans 'Users rating' %}
                                </a></li>
                                <li><a href="{% url 'ratings:task_rating' %}">
                                    {% trans 'Tasks rating' %}
                                </a></li>
                            </ul>
                        </li>
                    </ul>
                    {% if not user.is_authenticated %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'registration_register' %}">
                                <span class="glyphicon glyphicon-user"></span>{% trans 'Registration' %}
                            </a></li>
                            <li><a href="{% url 'auth_login' %}">
                                <span class="glyphicon glyphicon-log-in"></span>{% trans 'Log In' %}
                            </a></li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    {{ user.username }}<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'task:create' %}">{% trans 'Create task' %}</a></li>
                                    <li><a href="{% url 'user_account:user' pk=user.pk %}">{% trans 'Profile' %}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'auth_logout' %}">{% trans 'Log out' %}</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        {% block content %}
            <div class="container">
                {% for task in tasks %}
                    {% if task.user == user %}
                        <p><a href="{% url 'task:edit' pk=task.pk %}">{{ task }}</a></p>
                    {% else %}
                        <p><a href="{% url 'task:solve_task' pk=task.pk %}">{{ task }}</a></p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock %}
    </div>

    <div class="container">
        <footer>
            <div class="row">
                <hr>
                <div class="col-xs-12">
                    <p>Copyright © Tasky 2015</p>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>