{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block title %}<title>Рейтинг пользователей</title>{% endblock %}

{% block content %}
    <div class="container">
        <table class="display" id="user_table">
            <thead>
                <th>Name</th>
                <th>Solved</th>
                <th>Attempts</th>
                <th>Accuracy</th>
            </thead>
            {% for user in users %}
                <tr>
                    <th>{{ user }}</th>
                    <th>{{ user.solved }}</th>
                    <th>{{ user.attempts }}</th>
                    <th>{{ user.accuracy }}%</th>
                </tr>
            {% endfor %}
        </table>
        <script>
            $(function(){
                $("#user_table").dataTable({
                    "columns": [
                        {"orderData": [1, 2, 3]},
                            null,
                            null,
                            null
                    ],
                    "order": [[1, 'desc'], [2, 'asc'], [3, 'desc']]
                })
            })
        </script>
    </div>
{% endblock %}